﻿<EditForm Model="this.player" OnValidSubmit="this.onValidSubmit">

    <DataAnnotationsValidator />
    @*<ValidationSummary />*@

    <div>
        <label>@this.player.displayName( nameof( this.player.userId ) )</label>
        <input value="@this.player.userId" readonly />
    </div>
    <div>
        <label>@this.player.displayName( nameof( this.player.nickName ) )</label>
        <InputText @bind-Value="this.player.nickName" />
        <ValidationMessage For="()=>this.player.nickName"/>
    </div>
    <div>
        <button type="submit" class="btn btn-success">@this.buttonText</button>
    </div>

</EditForm>

