﻿@page "/players"

<h1>Player List</h1>


@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a class="btn btn-primary" href="/players/create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in this.players)
            {
                <tr>
                    <td>@player.userId</td>
                    <td>@player.nickName</td>
                    <td>
                        <a class="btn btn-success" href="/players/edit/@player.userId">Edit</a>
                        <a class="btn btn-danger" @onclick="()=>this.delete(player.userId)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
