﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Master Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-plus" aria-hidden="true"></span> Chat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testJs">
                <span class="oi oi-plus" aria-hidden="true"></span> JS Test
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-plus" aria-hidden="true"></span> Players
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/AliceClicker">
                <span class="oi oi-plus" aria-hidden="true"></span> Alice Clicker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/AliceFPS">
                <span class="oi oi-plus" aria-hidden="true"></span> Alice FPS
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
