﻿@page "/chat"
@attribute [Authorize]

<h3>Chat</h3>

<hr />

@if( this.hasNickname() == false ) {

    <RegisterNickname onRegisterNickname="@this.registerNickname" errorMessage="@this.errorMessage" />
}
else
if( this.isInChannel() == false ) {

    <SelectChannel channelInput="@this.channelInput" onValidSubmit="@this.onValidSubmitChannel" getChannelNames="@this.getChannelNames" >
        Please select or create a channel.
    </SelectChannel>

}
else {

    <ChatRoom channelInput="@this.channelInput" messageInput="@this.messageInput" messages="@this.messages" onValidSubmit="@this.onValidSubmitMessage"/>
}
