﻿<h4>@this.channelInput.channelName</h4>

@*채팅 목록*@

<dir id="messagesView" style="overflow-y: scroll;height:200px;">

    @*모든 메시지들을 반복해서 출력한다.*@
    @foreach( var message in this.messages ) {

        <p>@message</p>

    }

</dir>


@*message input*@

<dir>
    <hr />

    <EditForm Model="this.messageInput" OnValidSubmit="this.onValidSubmit">

        <DataAnnotationsValidator />
        <div>
            <label>@this.messageInput.displayName( nameof( this.messageInput.message ) )</label>
            <InputText @bind-Value="this.messageInput.message" />
            <ValidationMessage For="()=>this.messageInput.message" />
            <button type="submit">Send</button>
        </div>
    </EditForm>

</dir>