﻿<EditForm Model="this.input" OnValidSubmit="this.onValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="text-danger">@this.errorMessage</div>

    <div>
        <label>@this.input.displayName( nameof( this.input.nickName ) )</label>
        <InputText @bind-Value="this.input.nickName" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>

</EditForm>