﻿<h4>Select Channel</h4>

<hr />
<div>@this.ChildContent</div>

<hr />

<EditForm Model="this.channelInput" OnValidSubmit="this.onValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Channel</label>
        <select @onchange="this.onChangeSelectChannel">

            @foreach( var channel in this.getChannelNames() ) {

                <option value="@channel">@channel</option>
            }
            <option value="New Channel">Create Channel</option>
        </select>

    </div>

    @if( this.channelInput.selectedChannelOption == "New Channel" ) {

        <div>
            <label>@this.channelInput.displayName( nameof( this.channelInput.channelName ) )</label>
            <InputText @bind-Value="this.channelInput.channelName" />
        </div>
    }
    <div>
        <button type="submit">Enter</button>
    </div>

</EditForm>