﻿@page "/"
@using Alice.Servers.Master
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alice.Demo.BlazorTest</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>( RenderMode.ServerPrerendered ))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/chat.js"></script>
    <script src="~/testJs.js"></script>
    <script src="~/unity/common.js"></script>
</body>
</html>
