﻿@page "/counter"
@inject Services.CounterService service
@attribute [Authorize]

<h1>Counter</h1>



<p>Current Visitors: @service.currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click</button>

@code {

    void IncrementCount() {
        ++service.currentCount;
    }
}
