﻿@page "/testjs"
@inject IJSRuntime jsRuntime
@attribute [Authorize]

<h1>TestJS</h1>

<div>
    <p id="message"></p>
</div>

<div>
    <button type="button" @onclick="onClickSendMessageButton">showMessage</button>
</div>

<div>
    <button type="button" @onclick="onClickAddMessageButton">addMessage</button>
    <p>@outMessage</p>
</div>

@code  {

    string outMessage = "";

    void onClickSendMessageButton( MouseEventArgs args ) {

        jsRuntime.InvokeVoidAsync( "testJs.showMessage", "Hello World!" );
    }

    async Task onClickAddMessageButton( MouseEventArgs args ) {

        var msg = await jsRuntime.InvokeAsync<string>( "testJs.addMessage", "Walcome" );
        this.outMessage = msg;
        this.StateHasChanged();
    }
}