﻿@page "/players"
@using Contents.Players
@inject ContentsDbContext  db;

<h3>Player List</h3>

@foreach( var player in this.players ) {

    <p>@player.userId - @player.nickname</p>

}



@code {

    List<Player> players = new List<Player>();

    protected override async Task OnInitializedAsync() {

        this.players = await db.Set<Player>().ToListAsync();
    }


}
